<!DOCTYPE html>
<html>

<head>
    <style>
        table{
            width:100%; /*must be set (to any value)*/
        }
        .overflow-wrap-hack{
            max-width:1px;
        }
    </style>
    <title>Recomd</title>
</head>

<body>
    <img src="{{ uploaded_img.url }}" width="300" />
    <hr> 
    <table style="width:100%"> 
        <tr>
            <td class="overflow-wrap-hack">
                {% for imgUrl in recImgUrls %}
                    <a href=""><img src="{{ imgUrl }}" width='200' /></a>
                {% endfor %} 
            </td>
        </tr> 
    </table>

</body>

</html>
